@model IEnumerable<Category>
@{
    ViewData["Title"] = "Index";
}

<partial name="_Notifications"/>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary"> Category List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Category" asp-action="Create" class="btn btn-primary">
                <i class="fa-solid fa-plus"></i> &nbsp; Create New Category
            </a>
        </div>
    </div>
    <br /><br />

<table class="table table-border table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Category Name
            </th>
            <th>
                Display Order
            </th>
            <th>
                Image
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td width="50%">
                    @obj.Name
                </td>
                <td width="30%">
                    @obj.DisplayOrder
                </td>
                <td>
                    <img src="~/Images/@obj.imagePath" style="width:40px" class="img-thumbnail" />
                </td>
                <td>
                    <div class="w-75 btn-group" role="group">
                            <a class=" btn btn-success" asp-controller="Category" asp-action="Edit" asp-route-id="@obj.Id">Edit</a> &nbsp;&nbsp;&nbsp;
                            <a class=" btn btn-danger" asp-controller="Category" asp-action="Delete" asp-route-id="@obj.Id">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

</div>